.App {
    text-align: center;
}

.registerArea {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    margin: 20px 200px;
    padding: 20px;
    background-color: lightgray;
    font-size: 1.2em;
    border-radius: 20px;
}

input {
    padding: 5px;
    margin: 5px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    outline: none;
}

button {
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    padding: 5px;
    font-size: 1.2em;
    background-color: white;
}

ul {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-flow: column;
    background-color: lightgrey;
    margin: 20px 200px;
    padding: 5px;
    list-style-type: none;
    border: 1px solid black;
    border-radius: 10px;
}

li {
    margin: 10px;
}